# Environnement d'exécution (development | production)
NODE_ENV=development

# Domaine public utilisé par Caddy en production (ex: api.mondomaine.fr)
# Front URL utilisée pour les CORS en production (ex: https://app.mondomaine.fr)
# Uniquement requis si NODE_ENV=production
DOMAIN=
FRONT_URL=

# Adresse IP / hostname du serveur TCP Bus Tracker
BUS_TRACKER_API_SERVER=
# Port TCP du serveur Bus Tracker (valeur numérique)
BUS_TRACKER_API_PORT=